body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    color: white;
    background: url(/wallpaper/background.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Microsoft Yahei', sans-serif;
    gap: 5%;
}


.frosted-box {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.247);
    text-align: center;
}

.colorful-text {
    background: linear-gradient(45deg, #4161eb, #6b58e6, #9650db, #b1458f, #ff579a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* 垂直居中对齐 */
    text-align: center;
    justify-content: center;
    margin-left: -10%;
}

.logo {
    width: 8%;
    /* 根据需要调整大小 */
    height: 8%;
    margin-right: 20px;
    /* 标题左侧 logo 的间距 */
    /* animation: rotation 8s linear infinite; */
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.logo {
    animation: float 3s ease-in-out infinite;
}