.frosted-box {
    width: 80%;
    max-width: 400px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frosted-box-form {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top:4%;
    /* 设置容器的宽度为100% */
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}



.setting-form {
    margin-top:5%;
    margin-left:5%;
}

.buttons-container {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    background-color: black;
}

.button {
    background: linear-gradient(to right, #009a7b, #80b335);
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    width: 20%;
    transition: background-color 0.3s;
    text-decoration: none;
    /* font-size: 80%;  */
    font-size: 100%; /* 设置字体大小 */
    margin-left: 15%px;
}

.button:hover {
    background: linear-gradient(to left, #009a7b, #80b335);
    transform: scale(1.05);
}

.buttonlogout {
    background: linear-gradient(to right, #ff3333, #b82a07); /* 设置红色渐变背景色 */
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    /* margin: 5px 10px; */
    width: 30px;
    transition: background-color 0.3s;
    text-decoration: none;
    font-size: 100%; /* 设置字体大小 */
    margin-top: 1%;
    margin-left: 20%;
}


.buttonlogout:hover {
    background: linear-gradient(to left, #ff3333, #b82a07); /* 设置红色渐变背景色 */
    transform: scale(1.05);
}

