.frosted-box {
    width: 80%;
    max-width: 300px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    background: linear-gradient(45deg, #4161eb, #6b58e6, #9650db, #b1458f, #ff579a);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    width: 120px;
    transition: background-color 0.3s;
    text-decoration: none;
    /* margin-left: 16%; */
    /* margin-bottom: 5%; */
}

.button:hover {
    background: linear-gradient(225deg, #4161eb, #6b58e6, #9650db, #b1458f, #ff579a);
    color: white;
    transform: scale(1.05);
}

