body {
    justify-content: flex-start;
    margin-top: 30px;
    gap: 10px;
}

/* 设置下拉框的样式 */
select {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: 1px solid white;
    /* 可选: 添加白色边框 */
    padding: 5px;
    /* 可选: 添加内边距 */
    font-size: 16px;
    /* 可选: 设置字体大小 */
    border-radius: 4px;
    /* 可选: 圆角 */
}




.select-container-parent {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: left;
    margin-bottom: 5%;
}

.select-container-parent select{
    width: 150px;
}