.frosted-box {
    width: 80%;
    max-width: 400px;
    align-items: center;
    text-align: center;
    justify-content: center;

}

h2 {
    color: #fff;
}

p {
    color: #fff;
    font-size: 18px;
}

.file-uploader p {
    margin: 0;
    color: #fff;
    font-size: 16px;
}

.file-uploader {
    width: 80%;
    height: 100px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin: 10px auto;
    position: relative;
    background: rgba(0, 0, 0, 0.4)
}



.file-uploader:hover {
    border: 1.5px solid #9b59b6;
    background: linear-gradient(45deg, rgba(91, 47, 141, 0.5), rgba(74, 144, 226, 0.5));
    /* 悬停时的蓝紫渐变效果，略透明 */
}



.file-uploader input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.gradient-text {
    background: linear-gradient(45deg, #4161eb, #6b58e6, #9650db, #b1458f, #ff579a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
}



.theme-button {
    background: linear-gradient(45deg, #4161eb, #6b58e6, #9650db, #b1458f, #ff579a);
    color: white;
    border: none;
    padding: 5px 3px;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    transition: background-color 0.3s;
    font-size: 19px;
}

.theme-button:hover {
    background: linear-gradient(225deg, #4161eb, #6b58e6, #9650db, #b1458f, #ff579a);
    transform: scale(1.05);
}


.link-button {
    background: linear-gradient(to right, #ff8000, #ff5733);
    color: white;
    border: none;
    padding: 5px 3px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    width: 80px;
    transition: background-color 0.3s;
    font-size: 19px;
}

.link-button:hover {
    background: linear-gradient(to right, #ffa200, #ff8750);
    transform: scale(1.05);
}



.code-button {
    background:  rgba(128, 128, 128, 0.4);

    color: white;
    border: none;
    padding: 5px 3px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    width: 80px;
}

.progress-container {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 10px auto;
}

.progress-bar {
    height: 5px;
    width: 0%;
    background: linear-gradient(45deg, #4161eb, #6b58e6, #9650db, #b1458f, #ff579a);
    border-radius: 5px;
    transition: width 0.3s;
}



 /* 使用 flex 布局使标签和下拉框水平排列 */
 .select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.result-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 75%;
}


.button-container {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    margin-bottom: 10px; /* 调整间距 */
}

.btn-label {
    text-align: right; /* 让标题文字右对齐 */
    margin-right: 20px; /* 调整标题和按钮之间的间距 */
    font-size: 16px; /* 调整标题的字体大小 */
    flex-grow: 1; /* 让标题占据剩余空间，从而实现右对齐效果 */
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    text-align: right;
}


.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom:2%;
}

#qrCanvas {
    overflow: hidden;
    background-color: transparent;
    width:95%;
    height:95%;
}

.message-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.msg-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.msg-box-info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 修改为 flex-start，使内容靠上对齐 */
    /* align-items: center; */
    text-align: left;
    margin-left: 20%;
}